html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}

/*GLOBAL STYLES*/
body {
	background-color: silver;
}

/*CLASSES*/

/* HEADER */
.header{
	width: 100%;
	height: 80px;
	display: block;
	background-color: #101010;
}

.inner-header {
	width: 1000px;
	height: 100%;
	display: block;
	margin: 0 auto;
	background-color: red;
}

.inner-header h1 {
	position: absolute;
	transform: translate(19%, 25%);
	font-size: 3.5em;
	color: green;
}

.logo-container {
	height: 100%;
	display: table;
	float: left;
}

.logo-container img {
	height: 80px;
	width: 80px;
}

.navigation {
	float: right;
	height: 100%;
}

.navigation a {
	height: 100%;
	display: table;
	float: left;
	padding: 0px 20px;
}

.navigation a li {
	display: table-cell;
	vertical-align: middle;
}

/*BODY*/

.main-wrapper {
	width: 500px;
	position: relative;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 20px;
	border-color: black;
}

.pictures{
	display: flex;
	margin: 0 auto;
}

.pictures img{
	width: 100%;
	height: 50%;
}

.column {
	flex: 25%;

}













